html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
a{
    color:#089c8c;

}
.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}.logo{
    margin-top: 5%;
    width: 100px;
    height: 70px;
}
.navbar{
    background-color: #D8F09B;
    text-align: center;

}

.input-group-btn{
    float: left;
}
input.form-control{
    float:left;
    width: 60%;
    /*margin-top:10%;*/
    
}
.buscar{
    float:left;
    margin:0px;
    /*margin-top:10%;*/
    margin-right: 20%;
}
.btn.btn-primary.buscar{
    background-color: #089c8c;
}

.container li{
    float:left;
    /*margin-top:5%;*/
}l