/* HEADER */
.divclick{
    cursor: pointer;
}

.divclick:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.divclick:hover:after {
  width: 120%;
  background-color: rgba(255,255,255,0);
  
  -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}
/*header*/
.cabecera{
  margin-top: 0px!important;
  width: 100%;
  background-color: #aedf53;
}
ul{
  width: 15%;
  margin: 0 auto;
  padding: 0;
  margin-left: 80%;
}
nav li{
  list-style: none;
  display: inline-block;
  padding: 20px;
}
nav li:hover{
  background-color: #6c971c;
}
ul li a{
  color:#fff;
  text-decoration: none;
}
.toggle{
  background-color: #6c971c;  
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display:none;
}

.logo-grande .logo{
    float: left;
    margin-left: 40px;
      width: 100px;
      height: 70px;
  }
ol{
  font-size: 15pt;
}
div div ul li {
  margin-left: 0px;
}

/* HEADER */

input, select, option{
    width: 100%;
    padding: 5px 15px;
    margin: 3px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
}

input:focus{
    background-color: #E0F2F7
}

#formulario{
    
}

.modal-header h3{
    position: absolute;
}

.active{
    text-decoration: none !important;
    /*background: #E03137 !important;*/
    border-bottom: 4px solid yellow !important;
}

a.btn.btn-success{
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

tbody:first-child{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    background: #ccc;
    text-transform: uppercase;
}
tbody:first-child td{
    text-align: center;
}

.pagination_link_user, 
.pagination_link_key, 
.pagination_link_game{
    cursor:pointer;
    padding:6px;
    border:1px solid #ccc;
    margin-left: 5px;
}

.activePage{
    background-color: #666;
    color: white;
    cursor: pointer;
}

.activePage:hover {
    background-color: #666;
    color: white;
    cursor: pointer;
  }

  @media (max-width: 768px)
  {
    .cercadorr{
      display: none;
    }
  
    .toggle {
      display: block;
      background-color: #aedf53;
    }
  
    ul{
      width: 100%;
      margin:0 auto;
    }
    ul{
      display: none;
      text-align: center;
      background-color: #6c971c;  
    }
    .logo-grande{
      display: none;
    }
    .logo{
      float: left;
        width: 58px;
        height: 41px;
    }
    nav li:active{
    background-color: #d7efa9;
    color:#6c971c;
  }
  }
